* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color:#757575;
  font-weight:500;
}


.wraper {
  position: relative;
  width: 1440px;
  margin:0 auto;
  

}

.header-menu{
  width:100%;
  height:48px;
  
  padding-left: 72px;
  box-shadow: 0 4px 4px black;
  list-style: none;
  border: 1px solid lightgrey;
}

.header-menu p{
  margin-top:15px;
}



.header-menu__menu-button{
  outline:3px solid #757575;
  width:30px;
  height:30px;
  position:absolute;
  top:10px;
  left:15px;
}

.header-menu__menu-button:hover{
  background-color:lightgrey;
}



.canvas-frame {
  position: absolute;
  width: 512px;
  height: 512px;

  left: 35%;
  top: 100px;

}

canvas {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  border: 1px solid lightgrey;
  image-rendering: pixelated;
  box-shadow: 0 4px 4px black;

}




.menu {
  position: absolute;
  box-shadow: 0 4px 4px #757575;
  list-style: none;
  padding-left: 0px;
  max-width: 228px;
  border: 1px solid lightgrey;
}

.menu li {
  display: block;
  position:relative;
  padding: 15px 50px 15px 75px;


}

.instrument-panel li::before{
 content:"";
  position:absolute;

 width:24px;
 height:24px;
 left:20px;
 top:10px;

}


.instrument-panel li:nth-child(1)::before{
  background:url('assets/images/icon-share\ \(2\).png')

}

.instrument-panel li:nth-child(2)::before{
  background:url('assets/images/icon-upload.png')

}


.instrument-panel li:nth-child(3)::before{
  background:url('assets/images/icon-copy.png')

}

.instrument-panel li:nth-child(4)::before{
  background:url('assets/images/icon-share.png')

}


.menu li:hover {
  background-color: lightgrey;
  color: white;

}

.menu.instrument-panel li:nth-child(2) {
  border-bottom: 2px solid lightgrey;

}

.instrument-panel {

  left: 56px;
  top: 132px;

}

.color-panel {
  left: 56px;
  top: 400px;

}

.image-size-panel {
  right: 56px;
  top: 132px;

}

.image-size-panel li::before{
  
  content:"";
  position:absolute;
  left:28px;
  width:6px;
  height:6px;
  border:2px solid #757575;
  border-radius:50%;
  top:15px;
  padding:2px;
  
}


.image-size-panel li.active::before{
  background-color:  #757575;
  background-position: center;
  
  
}
